<!-- Templates -->
<div id="Dashboard" class="dashboard bg">
    <div id="Home" class="showing"></div>
    <div id="Words"></div>
    <div id="Plats"></div>
    <div id="Tabs"></div>
    <div id="Primers"></div>
    <div id="Scales"></div>
</div>