<!-- Templates -->
<div id="Dashboard" class="dashboard bg">
    <div id="Home" class="showing"><img src="../images/logo.svg"/></div>
    <div id="Words"></div>
    <div id="Plats"></div>
    <div id="Tabs"></div>
</div>