<!-- Templates -->
<div id="Dashboard" class="dashboard bg">
    <div id="Home" class="showing"></div>
    <div id="Words"><div class="help">Enter a word above and hit the "+"</div></div>
    <div id="Plats"><div class="help">Pick a major key to add a chord map.</div></div>
    <div id="Tabs"><div class="help">Enter a chord above and hit the "+"</div></div>
    <div id="Primers"></div>
</div>