<div class="home">
    <!-- <ul class="menu">
        <li>
            <a class="menuMaps">Maps</a>
        </li>
        <li>
            <a class="menuTabs">Chords</a>
        </li>
        <li>
            <a class="menuScales">Scales</a>
        </li>
    </ul> -->
</div>