<div class="home">
    <h1>Ninja Chord Finder</h1>
    <h2>Find Complimentary Chords</h2>
    <p>Use the
        <i>Maps</i> tool to look up chord progressions that compliment each other within a key. Click on a chord and reference
        which chords it naturally flows to. Following the map (start anywhere) will produce beautifully sounding chord progressions
        that compliment each other.
    </p>
    <h2>Find Unique Chord Voicings</h2>
    <p>One challenge with getting fancy with your chords is not knowing how to play them! Use the "Chords" section to look up
        and add any number of chords.</h2>
        <h2>Find Scales</h2>
        <p>Having a quick map of the entire fretboard in a given key is very helpful for spicing up your chords. Add/subtract
            any note you want! The Scales section is there to help find that perfect chord.</p>
</div>