<div class="home">
    <img src="images/logo.svg"/>

    <ul class="menu">
        <li><a class="menuMaps"><i class="fa fa-sitemap"></i> Chord Progressions</a></li>
        <li><a class="menuTabs"><i class="fa fa-search"></i> Chord Finder</a></li>
        <li><a class="menuWords"><i class="fa fa-pencil"></i> Lyric Finder</a></li>
        <!-- <li><a class="menuScales"><i class="fa fa-tasks"></i> Scale Finder</a></li>  -->
        <li><a class="menuPrimers"><i class="fa fa-flask"></i> Theory Primer</a></li>
        <li><a class="menuHowTo"><i class="fa fa-eye"></i> About</a></li>
    </ul>

    <div class="about">

        <p>Chordynator is a chord, tab and lyric discovery tool. There are three sections: Maps, Tabs and Words. </p>
        <p>Maps are "chord maps" that represent the resolving flow of complimentary chords in a given key. 
        Tabs is a basic chord lookup search box that returns guitar tablature with various voicings for the chord.
        And Words is a word search utility that finds rhymes, phrases, synonyms, etc. </p>
        <p>Chordynator was developed by singer/songwriter <a href="http://www.kevinlint.com" target="_blank">Kevin Lint</a>. Copyright 2014. All rights reserved.</p>

    </div>
</div>