<div class="menu">
    <ul class="items">
        <li><a class="item comp">+ comp</a></li>
        <li><a class="item plat">+ map</a></li>
        <li><a class="item tab">+ tab</a></li>
    </ul>
</div>

<div class="plats">
    <ul class="items">
        <% for(var key in keys) { %>
        <li><a class="item key" data-key="<%= keys[key] %>"><%= keys[key] %></a></li>
        <% } %>
    </ul>
</div>

<div class="tabs">
    <ul class="items">
        <li class="item find"><input type="text" placeholder="CHORD" /></li>
        <li class="item add"><a>+</a></li>
    </ul>
</div>
