<ul>
    <li>
        <a class="title">Who's talking and Why?</a>
        <p>Establish who's talking to whom and why. Decide where this song is going topically — the "point" being made. </p>
    </li>
    <li>
        <a class="title">Objective Correlative</a>
        <p>Emerse the listener in the experience by using language that appeals to all the senses both externally (physically) and interally (emotionally). Instead of singing about the "tree", make it a specific type of tree, a "weeping willow". Express how white flowers lay at it's feet like a neclace (sight) and how it rippled (sound) like the flow of soft (touch) river creek (a particular river) where you used to play as a child - and end it with an emotional statement about how you felt - "and I was happy".  </p>
    </li>
    <li>
        <a class="title">Use a "Development Engine"</a>
        <p>Keep the ball rolling by adding new and interesting information as the song progresses. Like a movie, your song should have a story "arc". Find your favorite movie and pay attention.</p>
    </li>
    <li>
        <a class="title">Choose a perspective</a>
        <p>Speaking in first, second or third person has a "proximity" effect. A direct address or first person statement will sound "up close" creating an intimate and personal feel while third person statements will sound "far away" and project a feeling of being objective and wise. </p>
    </li>
    <li>
        <a class="title">Set the stage</a>
        <p><em>Where</em> and <em>When</em> is this song taking place? Temporality can be used to project proximity as well. Speaking in "now" language directly involves the listener. The past and present are more intimate than referencing the future because they are "known" whereas the future is distant and mysterious.</p>
    </li>
    <li>
        <a class="title">Use "musical" word placement</a>
        <p>Not all syllables and words were created equal. Soaring on the word "and" or unstressed syllables will make your song fall flat. Only primary and secondary stressed syllables count towards your melody. Match your best words and their strongest syllables with your melody. Don't slave over matching every syllable to your melody. </p>
    </li>
    <li>
        <a class="title">Preserve Language Shape</a>
        <p>Any given statement will have a natural flow with peaks and valleys. Trying to change this natural flow of a statement will dull the effect of your statement. The peaks are your primary and secondary stressed syllables and the valleys are the unstressed syllables and grammatical functions such as articles (ie: the), conjunctions (ie: and), prepositions (ie: at), etc. Your melody should match the peaks and it's notes should "line up" (metaphorically speaking) with your statements lyrics. You have a lot of love? Maybe the word "love" deserves a longer note thus altering your melody. Maybe you don't want to change your melody, then you should look for another lyric line. Point is, the more the statement and the melody reinforce each other and the more you preserve the natural shape of a particular statement, the clearer and stronger your song will be. If your lyrics and melody don't support each other, figure out if one or both need to be refactored to bring them together. </p>
    </li>
    <li>
        <a class="title">Use good "body language"</a>
        <p>Communcation is 58% body language, 35% tone and only 7% words. In songwriting body language is conveyed by "phrase placement". If placed on the downbeat it will sound "heavy" and "assertive" while on the backbeat it will sound more laid back and inviting. Use this body language to again reinforce what your lyric is saying and what you're trying to express...then intensify it by using the correct tone.</p>
    </li>
    <li>
        <a class="title">Stable/Unstable</a>
        <p>Your song is a roller coaster riding the story arc. Each element in your song plays a functional role in song's movement. Elements that are "balanced" function as a stabalizing mechanism and will create a feeling of being at rest, complete or of finality while elements that are "unbalanced" introduces a sense of instability which tends to cue the listener that there is "more to come". Examples? Perfect rhyme scheme = stable. Not rhyming where rhyme is expected = unstable.</p>
    </li>
    <li>
        <a class="title">Abstract/Concrete</a>
        <p>coming soon...</p>
    </li>
     <li>
        <a class="title">Jungian archetypes</a>
        <p>coming soon...</p>
    </li>