#Home {
  display: inline-block;
  opacity: 0;
  height: 0;
  overflow: hidden;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  max-width: 500px;
  text-align: center;
}

#Home.showing {
  -webkit-transition: opacity 2s ease-out;
  opacity: 1;
  height: auto;
}

#Home .menu {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

#Home .menu li {
  display: block;
  width: 80%;
  max-width: 320px;
  margin: 0.25rem auto;
  text-align: left;
}

#Home .menu li:nth-child(6) {
  margin-top: 1.5rem;
}

#Home .menu i {
  margin: 0 0.25rem 0 0.6rem;
}

#Home .menu li a {
  display: block;
  width: 100%;
  font-family: "Arial";
  color: #ffffff;
  font-size: 1.8rem;
  text-decoration: none;
}

#Home .menu li a:hover {
  color: #ffffff;
}

#Home .about {
  display: block;
  opacity: 0;
  height: 0;
  overflow: hidden;
  font-family: "Arial";
  width: 85%;
  font-size: 0.75rem;
  color: #ffffff;
  margin: 1rem auto;
}

#Home .about.showing {
  -webkit-transition: opacity 2s ease-out;
  opacity: 1;
  height: auto;
}
