@import "http://fonts.googleapis.com/css?family=Quantico";

html, body {
    background-color: #05141E;
    background: #05141E;
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}

#Nav {
    color:white;
    width: 100%;
}

#Nav ul {
    margin:0;
    padding: 0;
    clear:both;
}

#Nav ul li {
    font-size: .75rem;
    display: block;
    float: left;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 3rem;
    background-color: #000000;
    opacity: 0.3;
}

#Nav ul#menu li {
    width: 33.3333333%;
}

#Nav ul#keys li {
    width: 14.28571428571429%;
    background-color: #1B6BA1;
}

#Nav ul#keys {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

#Nav ul#keys.showing {
    height: 3rem;
    transition: height 0.5s;
}

#Nav li a {
    cursor:pointer;
    display: block;
    height: 100%;
    font-family: 'Quantico';
    text-transform: uppercase;
    color: #1B6BA1;
}

#Nav ul#keys li a {
    color:#05141E;
}

#Nav li:hover {
    opacity: 0.7;
}

#Dashboard {
    padding:0;
    height: 100%;
    margin: auto;
    width: 100%;
    text-align: center;
}

.plat {
    background-color: #05141E;
    min-height: 360px;
    min-width: 360px;
    max-width: 360px;
    max-height: 360px;
    display:inline-block;
}

.plat svg {
    height: 100%;
    width: 100%;
}

.plat .plot rect {
    border-radius: 5px;
    cursor: pointer;
    fill: #05141E;
    stroke: #1B6BA1;
    stroke-width: 0.55;
}

.plat .plot ellipse {
    fill:#1B6BA1;
}

.plat .plot line {
    stroke:#1B6BA1;
    stroke-width: 0.55;
}

.plat .plot ellipse.active {
    fill:#FFFFFF;
}

.plat .plot:hover rect, .plat .plot:hover line {
    stroke: #FFF;
}

.plat .plot.active rect, .plat .plot.active line {
    stroke: #FFFFFF;
}

.plat .plot text.name{
    fill: #1B6BA1;
    font-size: 0.45rem;
    font-family: 'Quantico';
    pointer-events: none;
    text-anchor: middle;
}

.plat .plot:hover text.name, 
.plat .plot.activeLead text.name,
.plat .plot.activeLead text.type {
    fill:#FFFFFF;
}

.plat .plot.active text.name{
    fill:#CD2250;
}

.plat .plot text.type{
    fill: #1B6BA1;
    font-size: 0.2rem;
    font-family: 'Quantico';
    pointer-events: none;
    text-anchor: middle;
}

.plat .plot.active text.type{
    fill:#FFFFFF;
}