html,
body {
  background-color: #000000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  cursor: pointer;
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

h1 {
  font-weight: normal;
}

#Dashboard {
  padding: 0;
  height: 100%;
  /* min-height: 500px; */
  min-width: 100%;
  margin: auto;
  width: 100%;
  text-align: center;
  clear: both;
}

.help {
  width: 90%;
  margin: 2rem auto;
  color: #ffffff;
  font-family: "Quantico";
  font-size: 1rem;
}

/*Placeholder styling*/
::-webkit-input-placeholder {
  opacity: 0.4;
}

:-moz-placeholder {
  opacity: 0.4;
}

::-moz-placeholder {
  opacity: 0.4;
}

:-ms-input-placeholder {
  opacity: 0.4;
}

/* Drag styles */
body.dragging,
body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

#Footer {
  text-align: center;
}

#Footer .lint-trap img {
  width: 100px;
  margin: 20px;
}
