#Nav {
    color: white;
    width: 100%;
}

#Nav ul {
    margin:0;
    padding: 0;
    clear:both;
}

#Nav ul li {
    font-size: .75rem;
    display: block;
    float: left;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 3rem;
}

#Nav .menu ul li {
    width: 33.3333333%;
    background-color: #040F17;
}

#Nav .menu ul li:hover, 
#Nav .menu ul li.showing {
    background-color: #05141E;
}

#Nav .menu ul li a {
    cursor:pointer;
    display: block;
    height: 100%;
    font-family: 'Quantico';
    text-transform: uppercase;
    color:#5884A1;
}

#Nav .menu .items .comp:before,
#Nav .menu .items .plat:before,
#Nav .menu .items .tab:before {
    content:'+ ';
}

#Nav .menu .items .comp.showing:before,
#Nav .menu .items .plat.showing:before,
#Nav .menu .items .tab.showing:before {
    content:'- ';
}

#Nav .plats {
    height: 0;
    overflow: hidden;
    float: left;
    width: 100%;
    transition: height 0.5s;
}

#Nav .plats.showing {
    height: 3rem;
    transition: height 0.5s;
}

#Nav .plats ul li {
    width: 14.28571428571429%;
    background-color: #1B6BA1;
}

#Nav .plats ul li a {
    font-size: 1.5rem;
    cursor:pointer;
    display: block;
    height: 100%;
    font-family: 'Quantico';
    text-transform: uppercase;
    color:#FFFFFF;
}

#Nav .plats ul li:hover, 
#Nav .plats ul li.showing {
    background-color: #2878AD;
}

#Nav .tabs {
    background-color: #1B6BA1;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    clear:both;
    float: left;
    width: 100%;
}

#Nav .tabs.showing {
    height: 3rem;
    transition: height 0.5s;
}

#Nav .tabs ul {
    position: relative;
}

#Nav .tabs .find {
    padding: 0;
    width: 100%;
    display: block;
    position: absolute;
    top:0;
    left:0;
}

#Nav .tabs .find input {
    height: 3rem;
    font-size: 1.5rem;
    line-height: 3rem;
    padding-left: 5%;
    width:95%;
    background: transparent;
    border: 0;
    color: #FFFFFF;
    font-family: 'Quantico';
    display: block;
}

#Nav .tabs .add,
#Nav .tabs .hint {
    width:50px;
    top:0;
    position: absolute;
}

#Nav .tabs .hint {
    border-right:1px solid #1B6BA1;
}

#Nav .tabs .add {
    right:0;
}

#Nav .tabs .hint:nth-child(3){
    right:50px;
}

#Nav .tabs .hint:nth-child(4){
    right:101px;
}

#Nav .tabs .hint:nth-child(5){
    right:152px;
}

#Nav .tabs .hint:nth-child(6){
    right:203px;
}

#Nav .tabs .hint:nth-child(7){
    right:254px;
}

#Nav .tabs .add a,
#Nav .tabs .hint a {
    font-family: 'Verdana';
    text-align: center;
    width:100%;
    background-color: #2878AD;
    line-height: 3rem;
    font-size: 0.75rem;
    display: block;
}