#Nav {
    color: white;
    width: 100%;
    float: left;
}

#Nav ul {
    margin:0;
    padding: 0;
    clear:both;
}

#Nav ul li {
    font-size: .75rem;
    display: block;
    float: left;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 3rem;
}

#Nav .menu ul li {
    width: 25%;
    background-color: #040F17;
    color:#5884A1;
    cursor:pointer;
    display: block;
    height: 100%;
    font-family: 'Quantico';
    text-transform: uppercase;
    transition: background-color 0.5s;
}

#Nav .menu ul li:hover, 
#Nav .menu ul li.showing, 
#Nav .menu ul a.showing {
    background-color: #1B6BA1;
    color:#FFFFFF;
    transition: background-color 0.5s;
}

#Nav .menu .items a.item {
    height: 100%;
    width: 100%;
    display: block;
}

#Nav .menu .items .nav_comps:before,
#Nav .menu .items .nav_plats:before,
#Nav .menu .items .nav_tabs:before,
#Nav .menu .items .nav_words:before {
    content:'+ ';
}

#Nav .menu .items .nav_comps.showing:before,
#Nav .menu .items .nav_plats.showing:before,
#Nav .menu .items .nav_tabs.showing:before,
#Nav .menu .items .nav_words.showing:before {
    content:'- ';
}

#Nav .plats {
    height: 0;
    overflow: hidden;
    float: left;
    width: 100%;
    transition: height 0.5s;
}

#Nav .plats.showing {
    height: 3rem;
    transition: height 0.5s;
}

#Nav .plats ul li {
    width: 12.5%;
    background-color: #1B6BA1;
    transition: background-color 0.5s;
}

#Nav .plats ul li a {
    font-size: 1.5rem;
    cursor:pointer;
    display: block;
    height: 100%;
    font-family: 'Quantico';
    text-transform: uppercase;
    color:#FFFFFF;
}

#Nav .plats ul li:hover, 
#Nav .plats ul li.showing {
    background-color: #2878AD;
    transition: background-color 0.5s;
}

#Nav .tabs,
#Nav .words {
    background-color: #1B6BA1;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    clear:both;
    float: left;
    width: 100%;
}

#Nav .tabs.showing,
#Nav .words.showing {
    height: 3rem;
    transition: height 0.5s;
}

#Nav .tabs ul,
#Nav .words ul {
    position: relative;
}

#Nav .tabs .find,
#Nav .words .find  {
    padding: 0;
    width: 100%;
    display: block;
    position: absolute;
    top:0;
    left:0;
}

#Nav .tabs .find input,
#Nav .words .find input {
    height: 3rem;
    font-size: 1.5rem;
    line-height: 3rem;
    padding-left: 1rem;
    width:95%;
    background: transparent;
    border: 0;
    color: #FFFFFF;
    font-family: 'Quantico';
    display: block;
}

#Nav .tabs .add,
#Nav .words .add,
#Nav .tabs .hint {
    width:50px;
    top:0;
    position: absolute;
}

#Nav .tabs .hint {
    border-right:1px solid #1B6BA1;
}

#Nav .tabs .add,
#Nav .words .add {
    right:0;
}

#Nav .tabs .hint:nth-child(3){
    right:50px;
}

#Nav .tabs .hint:nth-child(4){
    right:101px;
}

#Nav .tabs .hint:nth-child(5){
    right:152px;
}

#Nav .tabs .hint:nth-child(6){
    right:203px;
}

#Nav .tabs .hint:nth-child(7){
    right:254px;
}

#Nav .tabs .add a,
#Nav .words .add a,
#Nav .tabs .hint a {
    font-family: 'Verdana';
    text-align: center;
    width:100%;
    background-color: #1B6BA1;
    line-height: 3rem;
    font-size: 0.75rem;
    display: block;
    color:#FFFFFF;
}

#Nav .tabs .add a:hover,
#Nav .words .add a:hover,
#Nav .tabs .hint a:hover {
    background-color: #2878AD;
    transition: background-color 0.5s;
}