#Tabs {
    display: block;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}

#Tabs.showing {
    -webkit-transition: opacity 2s ease-out;
    opacity: 1;
    height: auto;
}

.tab {
    height: 100%;
    width: 100%;
    max-width: 360px;
    max-height: 180px;
    display:inline-block;
    vertical-align: top;
}

.tab.placeholder {
    width: 360px;
    height: 180px;
    display:inline-block;
    vertical-align: top;
    border:1px solid #1B6BA1;
    position: relative;
}

.tab text.chord {
    font-family: 'Quantico';
    fill: #FFFFFF;
    font-size: 0.5rem;
    pointer-events: none;
    text-anchor: middle;
}

.tab image.remove {
    opacity:0.4;
    cursor: pointer;
}

.tab image.remove:hover {
    opacity: 1;
}

.tab image.move {
    opacity:0.4;
    cursor: move;
}

.tab image.move:hover {
    opacity:1;
}

.tab line.string {
    stroke: #1B6BA1;
    stroke-width: 0.6;
}

.tab line.string.muted {
    stroke-dasharray:1,1;
}

.tab line.fret {
    stroke: #1B6BA1;
    stroke-width: 0.5;
    opacity: 0.3;
}

.tab text.fret-number {
    font-size: 0.2rem;
    font-family: 'Quantico';
    fill: #1B6BA1;
    font-size: 0.35rem;
    pointer-events: none;
    text-anchor: middle;
    opacity:0.3;
}

.tab circle.finger {
    fill:#FFFFFF;
}